<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Webpage Pixel Icon -->
  <link rel="icon" type="image/gif" href="./img/pixel-gif-drawing.gif">

  {% block title %}<title>Track N&apos; Drive</title>{% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/logout.css' %}">

</head>

<body>
     
    <div class="container">
    <div class="row">
    <div class="col-md-4 col-md-offset-4">

      {% block content %}{% endblock %}

    </div>
    </div>
    </div>
</body>
</html>